<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Website - About</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css') }}"
    />
  </head>
  <body>
    <img
      src="{{ url_for('static', filename='coat_of_arms_0.png') }}"
      alt="Coat of Arms"
    />
    <h1>Kamal McMillan</h1>
    <p>
      I am a student in the INFO 3180 course. I enjoy working on web development
      projects and learning new technologies.
    </p>
  </body>
</html>
